#ytre {
    background-image: url("../bilder/bakgrunn.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
    width: 100vw;
    height: 100vh;
    background-color: rgb(207, 231, 252);
}

#luker {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    vertical-align: center;
    width: 1200px;
    height: 900px;
    margin-left: 20vw;
    margin-top: 10vh;
}

.luke {
    color: white;
    text-align: center;
    text-shadow: 3px 3px 1px black;
    font-size: 2em;
    border: solid grey 1px;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.445);
}

#vis {
    width: 600px;
    height: 500px;
    border: solid red 1px;
    display: none;
    position:absolute;
    top: 18em;
    left: 32em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



